{{#unless isPopup}}
  {{page-header-cs
          pageScope=pageScope
          goToPrevious="goToPrevious"
  }}
{{/unless}}
<div class="flex">
  {{#unless isPopup}}
    {{page-aside-cs
            pageScope="aside"
            asideOpen="no"
    }}
  {{/unless}}
  <main class="clearfix page-main">
    {{outlet}}
  </main>
</div>
{{#unless isPopup}}
  {{page-footer
          showAbout="showAbout"
  }}
{{/unless}}
